* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, 
        rgb(15, 1, 53) 30%,
        rgb(9, 7, 109) 50%,
        rgb(14, 16, 128) 100%
    );
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgb(0, 0, 43);
    width: 100%;
    z-index: 1;
}

.logo {
    width: 60px;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    gap: 50px;
    margin-right: 20px;
    
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.nav-links a:hover {
    background-color: rgb(136, 136, 136, 0.3);
    padding: 10px;
    border-radius: 5px;
} 

/* Cover */
main {
    display: grid;
    grid-template-areas: "cover cover cover" "verse-section verse-section verse-section" "quote-container quote-container quote-container";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: cover;
    color: white;
    height: 70vh;
    text-align: center;
}

.cover-text {
    font-size: 4.5em;
    font-weight: 1000;
}

.cover p:last-child {
    color: yellow;
    font-weight: bold;
}

/* Verse container */
.verse-section {
    grid-area: verse-section;
    color: white;
}

.title {
    font-size: 2.5em;
    margin-left: 20px;
}

.verse-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10px;
}

.verse-bank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 20px;
    line-height: 1.5;
    font-size: 1.2em;
    border-radius: 10px;
}

.right-align {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
}

/* Quote container */
.quote-section {
    grid-area: quote-container;
    color: white;
}

.quote-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.quote-bank {
    position: relative;
    background-color: rgb(15, 1, 53, 0.5);
    margin: 10px;
    padding: 50px 30px 30px 30px;
    line-height: 1.5;
    font-size: 1.5em;
    border-radius: 10px;
}

.big-quote {
    position: absolute;
    top: -5px;
    right: 30px;
    font-weight: bold;
    font-size: 3em;
}

